
body {
    background:#324a56;
}   


#moon {
    width:300px;
    height: 300px;
    position:relative;
    left:7%;
    top:10%;
    border-radius: 50%;
    box-shadow: -35px -35px 0 0 white;
}



#clouds div {
    background:#e8e6e6;
    border: 0.5px solid black;
    position:relative;
    width: 170px;
    height: 75px;
    border-radius: 50%;
}

#cloud1 {
    bottom: -118px;
    left: -29%;
}

#cloud2 {
    left:30%;
    top:30px;
}

#cloud3 {   
    bottom: 65;
}

#cloud4 {    
    left: 13%;
    bottom: 80px;
}

#cloud5 {   
    bottom: 141px;
    left: -75px;
}

#roof {
    position: absolute;
    bottom: 260;
    left: 979px;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 100px solid #771414;
}

#house {
    position:absolute;
    bottom:60px;
    left:1000;
    background:#969696;
    width: 200px;
    height: 200px;
}

#windowLeft{
    border: 1px solid black;
    position:relative;
    left:10%;
    top:10%;
    width: 20%;
    height: 55px;
    background:#4c4949;
}

#windowRight{
    border: 1px solid black;
    position:relative;
    right:10%;
    float:right;
    top:20%;
    width: 20%;
    height: 55px;
    background:#ceea2f;
    animation: blink 3s infinite;
}


#monsterHead {
    width:35%;
    height:35%;
    position:absolute;
    background:black;
    bottom: 0px;
    border-radius: 50%;
}

#monsterHead div {
    width: 10%;
    height: 10%;
    position:relative;
    background:red;
}


#monsterEyeLeft {
    left:10%;
    top:20%;
    border-radius: 30%;
}

#monsterEyeRight {
    left:80%;
    top:10%;
    border-radius: 30%;
}

#ground {
   position:absolute;
   bottom:0px;
   width:100%;
   height:60px;   
   background:#2c6326;
    
}


@keyframes blink {
    from {background:#ceea2f}
    3% { background:black; }
    4% { background:#ceea2f; }
    to {} 
}





